body {
	background-color: #FDFDFD;
   }

html,body{
height: 100%;
margin: 0;

}

#container{
 height:100%;
 overflow: hidden;
 font-family: OpenSans;
 }

#watermark{
		position: relative;
		top: 40%;
		display: block;
		width: 150px;
		margin-left: auto;
		margin-right: auto;
		z-index: -1;
	}


/*  ------------------ Menus ---------------------------   */

#top-menu {
position: fixed;
top: 0px;
width:110%;
margin-left: -8px;
height: 80px;
background-color: #0084D1;
overflow: hidden;
z-index: 10;
box-shadow: 0px 2px 3px #888888;
	padding-left: 20px;
color: white;
font-size: 20px;
}

li.menu{
float: left;

}

ul.menu{
list-style-type:none;
margin:0;
padding:0;
}

.top-menu-item {
height: 45px;
text-align:center;
padding:12px 60px 6px 60px;
cursor: pointer;
display: block;
}

.top-menu-item:hover
{
	background:#083885;
}

.side-menu {
position: fixed;
top: 81px;
left: -8px;
width: 350px;
height: 100%;
background-color: #FFFFFF;
z-index: 12;
box-shadow: 1px 0px 3px #888888;

}

.side-menu-item{
max-width: 100%;
color: #333;
cursor: pointer;
font-size: 20px;
padding: 10px 20px;
border-bottom-style: solid;
border-bottom-color: #DDD;
border-bottom-width: 1px;
vertical-align: bottom;
}

.side-menu-item:hover
{
	color: #66CCFF;
}



.side-menu-text{
  position: relative;
  float: left;
  top:10px;
  left: 30px;
}
img.side-menu{
 float: right;
}

.mobile-header{
display: none;
}

/*  ------------------ Panels ---------------------------   */

.panel {
  position: relative;
  width: 600px;
  height: 425px;
  display: block;
  top: -50px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-style:solid;
  border-width: 1px;
  border-color: #DDD;
  z-index: 5;

 }

.top-bar {
position:absolute;
top:0;
height: 45px;
border-bottom-width:1px;
border-color:#999;
background-color: #0084d1;
border-style: solid;
border-width: 0px;
width:100%;

}


.panel-menu{
float: left;
padding: 10px 20px 10px 10px;
cursor: pointer;

}

.panel-title{
	padding:10px;
	font-size: 18px;
   color: #FFF;
   width: 200px;
   float: left;
 }


.close-button{
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
 }

.bottom-bar {
position:absolute;
bottom: 0;
height: 40px;
border-color:#999;
background-color: #FFF;
border-style: solid;
border-width: 1px 0 0 0;
width:100%;
}


.button {
text-align: center;
color: white;
font-size: 22px;
font-weight: bold;
cursor: pointer;
padding: 10px 24px 10px 24px;
margin: 5px 30px 5px 10px;
max-width: 200px;
background-color: #0084d1;
position: absolute;
}


.panel-container{
 position: absolute;
 width: 100%;
 bottom: 0;
 top: 40px;
}


.panel-left{
position: absolute;
top: 45px;
bottom: 40px;
left: 0;
right: 300px;

}

.panel-right{
position: absolute;
top: 45px;
bottom:0;
left: 300px;
right: 0;
    box-shadow: 0px 2px 3px #888888;
}

.panel-preview{
position: relative;
display: block;
width: 400px;
height: 150px;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
border-radius: 5px;
overflow: hidden;
background-color: #F9F9FF;
box-shadow: 0px 2px 3px #888888;

}

.back2Lesson{
position: absolute;
left: 50px;
padding: 5px 10px;
color: white;
background-color: #428bca;
margin: 5px;
border-radius: 2px;
cursor: pointer;
}

.endOfLesson{
position: absolute;
right: 50px;
top: 0;
padding: 5px 10px;
color: white;
background-color:#428bca;
margin: 5px;
border-radius: 2px;
cursor: pointer;
}

.paginator {
display: block;
width: 200px;
margin-left: auto;
margin-right: auto;
margin-top: -15px;


}

.panel-form-item{
width: 100%;
padding-top: 6px;
padding-bottom: 6px;
left: 0;
right: 0;
color: black;
border-bottom-style: solid;
border-bottom-width: 1px;
background-color: rgb(250,250, 250);
border-bottom-color: #EEE;
overflow: hidden;
	}

	.panel-form-title{
		position: relative;
		top: 2px;
		left:  8px;
		float: left;
   font-size: 16px;
   color: #444;
	}

	.panel-form-input{
		margin-right: 5px;
		float: right;
		}

/*--------------------------------------------------------*/



/*---------------- File Panel -----------------------*/


#file-open-button{
background-color: green;
	bottom: 15px;
	right: 5px;
}


#file-upload-button{
right: 50px;
top: 120px;

}

#file-upload-text{
position: absolute;
font-size: 24px;
color: #666;
top: 125px;
left: 45px;
}

.button input {
position: absolute;
top: 0;
left: 0;
	opacity: 0.0;
  font-size: 30px;
  cursor: pointer;
  padding: 5px 5px 5px 5px;
  overflow: hidden;
}



#course-open-button{

	bottom: 15px;
	right: 5px;
}

#course-install-button{

	bottom: 15px;
	right: 160px;
}

#lesson-open-button{
background-color: green;
bottom:15px;
right:5px;
}

#lib-panel{
 position: absolute;
 top: 50px;
 left: 250px;
 right: 0;

}

.course-panel{
	float: left;
 background-color: white;
 width: 120px;
 height: 120px;
 margin: 15px 15px 15px 15px;
 cursor: pointer;
 box-shadow: 2px 2px 3px #888888;

}


.course-panel-container{
position: absolute;
top: 45px;
left: 0;
right: 0;
bottom: 0;

}


img.lib{
position: absolute;
 width: 120px;
 height: 120px;

}

img.preview{

}

.course-title{

position: relative;
bottom: 36px;
width: 120px;
height: 20px;
text-align: center;
background-color: #0084df;
color: white;

font-family: OpenSansSemi;
font-size: 14px;
padding: 8px 0;
}


#preview-frame-container{

	width: 100%;
	height: 100%;
	position: relative;
	top:0;
}


#lesson-end-container{

	width: 100%;
	height: 100%;
	position: relative;
	top:0;
}



iframe.player{
	width: 700px;
	height: 500px;
	display: block;
	margin: auto;
	position: relative;
	top:0;
}


.preview-title{
		position: absolute;
		bottom: 0;
		width: 150px;
		left: 0;
		height: 30px;
		font-size: 16px;
		color: white;;
		background-color: #0084df;
		text-align: center;
		padding-top: 5px;
	}

.preview-description{
	 position: absolute;
		top:5px;
		left:160px;
		right: 10px;
		font-size: 12px;
		height: 80px;
		color: #666;
	}


.meta-info-box{
    position: relative;
    padding: 2px 10px 2px 10px;
    display: block;
		background-color: white;
		border-bottom-color: #CCC;
		border-bottom-style: solid;
		border-bottom-width: 1px;
		font-size: 12px;
		color: #444;
		cursor: pointer;
}



/*--------------------- Play Panel ---------------------*/



#lesson-start{
	background-image: url("icons/green.png");
}



.lesson-box{
    position: relative;
    padding: 4px 10px;
		font-size: 16px;
		color: #444;
		cursor: pointer;
		width: 160px;

}



.lesson-box:hover {
     background-color: #DDD;
 }



iframe{

border:0;
}

#play-menu{

position: absolute;
top: 5px;
left: 0;
bottom: 0;
z-index: 20;
color: #444;
    box-shadow: 0px 2px 3px #888888;
    background-color: white;
    width: 180px;
}

#play-item{
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
		width: 480px;
		height: 320px;
		border-style: solid;
		border-color: #EEE;
		border-width: 1px;
		font-size: 14px;
		overflow:hidden;


}


#lesson-review{
	position: absolute;
   top: 50px;
   left: 59px;
		width: 480px;
		height: 320px;
		border-style: solid;
		border-color: #EEE;
		border-width: 1px;
		font-size: 14px;
		overflow-x:hidden;

overflow-y:scroll;
}

#play-controls{
		position: absolute;
		right: 20px;
		height: 30px;
		bottom: 5px;
		background-color: #222;
	}

.control-button{
  height: 30px;
  width: 30px;
  background-color: #222;
  float: left;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #444;
	cursor: pointer;
 }

	#player-control-text{
			padding: 6px 10px 0px 10px;
			height: 24px;
			width: auto;
			cursor: auto;
			text-align: center;
			font-size: 12px;
			color: #CCC;
			float: left;
	}

#play-status{
		position: absolute;
		left: 20px;
		height: 30px;
		bottom: 5px;
		background-color: #222;
	}

.status-field{
  			height: 22px;
  width: auto;
 background-color: #222;
 padding: 8px 10px 0px 10px;
 float: left;
 			text-align: center;
			font-size: 12px;
			color: #CCC;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #444;
	}


#item-label{
position: absolute;
width: 100%;
bottom: 6px;
text-align: center;
font-size: 12px;
color: #333;
}

.play-item-text{
	margin: 10px 5px 10px 5px;
			text-align: center;
		 	font-size: 16px;
		font-weight: bold;
		color: #444;
		font-family: Helvetica;
	}



.play-item-plain-text{
	margin: 10px 5px 10px 5px;
			text-align: center;
		 	font-size: 12px;
		font-weight: normal;
		color: #444;
		font-family: Helvetica;
	}

	.play-item-caption{
	margin: 10px 5px 10px 5px;
			text-align: center;
		 	font-size: 14px;
		font-weight: normal;
		color: #666;
		font-family: Helvetica;
	}


audio {
 position: relative;
 display: block;
 top: 40%;
 margin-left:auto;
 margin-right: auto;

	}

img.item{
	height: 100%;
 max-height:240px;
	max-width: 320px;
	 position: relative;
 display: block;
 margin-left:auto;
 margin-right: auto;
	}

img.loader{
 max-height:120px;
 position: relative;
 top: 100px;
 display: block;
 margin-left:auto;
 margin-right: auto;
}
/*-----------------Error Panel ------------------*/

#error-screen{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0,0,0,.5);
margin: -15px;
z-index: 14;
display: none;
}

#error-panel{
z-index: 15;
height: 125px;
}

#error-button{
	background-color: #8A0808;
}


/*------------------Welcome Panel-----------------------*/

#welcome-screen{
position: absolute;
left: 0;
right: 0;
top: 0;
bottom: 0;
background-color: 	#0084D1;
z-index: 30;
}


img.main-logo{

	width: 200px;
	max-height: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}

#welcome-box{
margin-left: auto;
margin-right: auto;
margin-top: 150px;
width: 200px;
height: 250px;
}

.welcome-field{
width: 200px;
height: 30px;
color: white;
text-align: center;
font-size: 18px;
}

.welcome-icon{
	float: right;
	width: 30px;
	height: 30px;
}

.welcome-item{
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #333;
}

#welcome-go{
	margin-right: 0px;
	background-image:url('icons/gray.png');
	color:#444;
	visibility: hidden;
}


/*--------------------------------------------*/

#about-logo{
	width: 128px;
	height: 128px;
	background-image: url('icons/icon-128.png');
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

#about-name{
	position: absolute;
	top: 180px;
	width: 100%;
	 			text-align: center;
			font-size: 20px;
			color: #222;
}


#about-text{
	position: absolute;
	top: 215px;
	width: 90%;
	left: 5%;
	font-size: 14px;
	color: #222;
}

/*--------------------------------------*/

.option-box{
    position: relative;
    top: 40px;
	 min-height: 40px;
		background-color: white;
		border-bottom-color: #CCC;
		border-bottom-style: solid;
		border-bottom-width: 1px;		}

	#delete-user-button{
		background-image: url('icons/red.png');
		}

	.options-text{
    position: absolute;
    top: 5px;
    left: 10px;
    	font-size: 14px;
    	color: #444;
		}



/*-----------------  Quiz Module --------------------------*/



/*-------------------------------------------*/





#dialogue-panel{
	height: 150px;
	width: 300px;
	position: absolute;
	top: 300px;
	left: 350px;
}

.dialogue-text{
width: 90%;
margin: 50px 5px 45px 5px;
text-align: center;
font-size: 12px;
color: #666;
}


#dialogue-yes{
background-image: url('icons/green.png');
}

#dialogue-no{
background-image: url('icons/red.png');
}


/*--------  End of Lesson ---------- */


.tab-bar{

height: 30px;
font-family: OpenSans;
top: 0;
position: absolute;
left: 0;
right: 0;

}

.tab{
background-color: #DDD;
float: left;
position: relative;
padding: 10px 0;
text-align: center;
cursor: pointer;
}


.tab-selected{

 box-shadow: 0px 2px 3px #888888;
}

.hilight{
position: absolute;
bottom: 0;
left: 0;
right: 0;
height: 7px;
background-color: #58ACFA;

}

.tab:hover{
background-color: #81BEF7;
}

 			#alert{
 					position: absolute;
 					left: 220px;
 					width: 300px;
 					bottom: 18px;

 				}



.frame-error{

}

.frame-error-text{
	width: 100%;
	text-align: center;
	margin-top: 20px;
	color: #444;
	font-size: 14px;
}

img.frame-error{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
width: 150px;

}

/*--------------------------------------*/

@font-face {
    font-family: OpenSans;
    src: url('font/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSansBold;
    src: url('font/OpenSans-Bold.ttf');
}


@font-face {
    font-family: OpenSansSemi;
    src: url('font/OpenSans-Semibold.ttf');
}






#lessons-pane{
	position: absolute; left: 350px; top: 80px; width: 500px; height: auto;
}

#lesson-header{
	width: 750px; height: 20px; margin: 20px 50px; position: relative; border-bottom-style: solid; border-width: 1px; border-color: #CCCCCC; color: #666666; font-size: 28px; padding-bottom: 30px;
}

.lesson-panel{
	background-color: #FFFFFF; width: 750px; height: 210px; margin: 20px 50px; position: relative; border-style: solid; border-width: 1px; border-color: #DDDDDD
}


img.lesson-image{
	position: absolute; left: 25px; top: 25px;
}

.lesson-title{
	position: absolute; left: 220px; font-size: 28px; color: #555; font-weight: bold; top: 10px;
}

.lesson-description{
	position: absolute; left: 220px; color: #888; width: 500px; top: 60px;
}

.lesson-play{
	padding: 10px 20px;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
	border-style: solid;
	border-color: #EEEEEE;
	border-width: 1px;
	position: absolute;
	bottom: 10px;
	right: 20px;
	background-color: #66CC44;
	border-radius: 5px;
	color: white;
}

.lesson-items{
	position: absolute; right: 160px; bottom: 17px;  font-size:20px; color: #999999;
}

img.lesson-items-icon{
	position: absolute; right: 120px; bottom: 10px;
}



#tile-menu{
	position: fixed; right: 25px; top: 25px; z-index: 20; cursor: pointer;
}


.item-panel{
	max-width: 100%;
	color: #333;
	cursor: pointer;
	font-size: 20px;
	height: 40px;
	color: #888888;
	vertical-align: bottom;
}

.item-panel:hover{
	color: #66CCFF;
}

.item-text-current{
	color: #66CCFF;
}